@import './variables.less';

.home-hero {
  background-color: @color-white;
  height: 800px;
  text-align: center;

  .home-title {
    font-family: Pacifico;
    font-size: 56px;
    margin: 0;
    padding: 20px;
  }
  .home-subtitle p {
    color: @color-gray-dark;
    font-family: Pacifico;
    font-size: 22px;
    margin: 0;
  }
}
