@import './variables.less';

.home-hero {
  background-color: @color-white;
  height: 1000px;
  text-align: center;

  h1 {
    font-family: Pacifico;
    font-size: 5.0em;
    margin: 0;
  }
  p {
    color: @color-gray-dark;
    font-family: Pacifico;
    font-size: 1.5em;
    margin: 0;
  }
}
