@import './variables.less';

.container {
  background-color: @color-white;
  margin: @container-margin;
  max-width: @main-width;
  padding: @container-padding;
  -webkit-box-shadow: 8px 8px 8px -5px rgba(163,163,163,1);
  -moz-box-shadow: 8px 8px 8px -5px rgba(163,163,163,1);
  box-shadow: 8px 8px 8px -5px rgba(163,163,163,1);
  .container-title {
    font-family: Pacifico;
    font-size: 48px;
    padding: 10px;
  }
}

.section {
  background-color: @color-gray-light;
  border-radius: @border-radius;
  margin: @section-margin;
  padding: @section-padding;
  .section-title {
    font-size: 24px;
    padding: 10px;
  }
  .section-subtitle {
    color: @color-gray-dark;
    font-weight: bold;
    line-height: 10px;
    text-align: center;
  }
}

.anchor {
  display: block;
  height: @anchor-height;
  margin-top: -@anchor-height;
  visibility: hidden;
}

.image {
  padding: @image-padding;
  img {
    display: block;
    margin: 0 auto;
  }
}
a:hover img {
  opacity: 0.6;
}

.callout {
  display: flex;
  margin: 20px auto;
  width: 80%;
  .callout-person {
    margin-top: -10px;
    width: 100px;
  }
  .callout-message {
    background: @color-white;
    border-radius: 10px;
    color: @color-gray-dark;
    flex-grow: 1;
    font-size: 12px;
    font-style: italic;
    height: 16px;
    line-height: 16px;
    padding: 10px;
    word-spacing: 4px;
  }
  .callout-message:hover {
    background: @color-primary;
    color: @color-white;
    cursor: pointer;
  }
}
