@import './variables.less';

.container {
  background-color: @color-white;
  margin: @container-margin;
  max-width: @main-width;
  padding: @container-padding;
  -webkit-box-shadow: 8px 8px 8px -5px rgba(163,163,163,1);
  -moz-box-shadow: 8px 8px 8px -5px rgba(163,163,163,1);
  box-shadow: 8px 8px 8px -5px rgba(163,163,163,1);
}

.section {
  background-color: @color-gray-light;
  border-radius: @border-radius;
  margin: @section-margin;
  padding: @section-padding;
}

.anchor {
  display: block;
  height: @navbar-height;
  margin-top: -@navbar-height;
  visibility: hidden;
}

.image {
  padding: @image-padding;
}
