/* colors */
@color-black: #000000;
@color-white: #ffffff;
@color-gray-dark: #afafaf;
@color-gray-light: #e8f2ef;
@color-primary: #54a892;
@color-primary-light: #d9f7ef;
@color-primary-dark: #21b384;
@text-color: #707070;

/* width, height, margin, padding */
@navbar-height: 60px;
@main-width: 800px;
@main-padding: 20px;
@section-margin: 20px;
@section-padding: 20px 40px 40px 40px;
@container-padding: 40px 20px 80px 20px;
@container-margin: 10px auto 180px auto;
@image-padding: 10px;
@footer-padding: 60px;
@anchor-height: 130px;  /* container-padding + container-margin + navbar-heighti */

/* other */
@border-radius: 10px;
